$green: #509e2f;
$green2: #b5bd00;
$black: #3f4444;
$orange: #ed8b00;
$red: #e04e39;
$gray: #75787b;
$blue: #307fe2;
$percent: 3%;
$btn-percent: 1%;
$tablet: 768px;
$phone: 500px;
$laptop: 1000px;
$big-screen: 1200px;

a {
    color: $blue;
}

html, body {
    height: 100%;
}
