div#playlist {
    background: white;
    margin-top: 20px;
    h2 {
        margin-top: 0;
    }
    iframe {
        padding: 0 10px 20px;
        height: 585px;
    }
    p {
        padding: 10px 18px 0px;
    }
    p.contact_robert {
        margin-bottom: 15px;
    }
    #phone_playlist {
        padding-bottom: 20px;
    }
    a {
        font-weight: 400;
    }
}
