<div id="calendar">
    <h2 class="header">Concert Calendar</h2>
    {% for concert in concerts %}
    <div class="row">
        <div class="concert_card">
            <div class="date_time col-xs-3 col-sm-5 col-md-4 col-lg-5">
                <p class="day_of_week">{{ concert.day_of_week }}</p>
                <p class="date">{{ concert.date }}</p>
                <p class="time">at {{ concert.time }}</p>
            </div>
            <div class="band_venue col-xs-9 col-sm-7 col-md-8 col-lg-7">
                <h3 class="band">{{ concert.group }}</h3>
                <p class="venue">{{ concert.venue }}</p>
                <p class="town">{{ concert.city }}, {{ concert.state }} <span class="hide_phone view_map"><span class="icon ion-ios7-location"></span> <a href="http://maps.google.com?q={{ concert.venue }}, {{ concert.city }}, {{ concert.state }}" alt="Map to {{ concert.venue }}">view map</a></span></p>
                <p class="show_phone view_map"><span class="icon ion-ios7-location"></span> <a href="http://maps.google.com?q={{ concert.venue }}, {{ concert.city }}, {{ concert.state }}" alt="Map to {{ concert.venue }}">view map</a></p>

            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
