<h2>Performance Calendar</h2>
<div class="row">
    <div class="calendar col-xs-12">
        {% for concert in concerts %}
        <div class="row">
            <div class="concert col-sm-12 {% if loop.index is divisibleby 2 %}odd{% endif %}">
                <p>{{ concert.date }} at {{ concert.time }}</p>
                <h3>{{ concert.group }}</h3>
                <p>{{ concert.venue }} // {{ concert.city }}, {{ concert.state }} // <a href="http://maps.google.com?q={{ concert.venue }}, {{ concert.city }}, {{ concert.state }}" alt="Map to {{ concert.venue }}">view map</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
