<div class="row">
    <div class="calendar col-xs-12">
        <h2>Performance Calendar</h2>
        {% for concert in concerts %}
        {% if loop.index == 1 or loop.index0 is divisibleby 4 %}
            <div class="group page{{ (4 + loop.index) // 4 }} {% if loop.index == 1 %}active_page{% endif %}">
        {% endif %}
        <div class="row">
            <div class="concert col-sm-12 {% if loop.index is divisibleby 2 %}odd{% endif %}">
                <p>{{ concert.date }} at {{ concert.time }}</p>
                <h3>{{ concert.group }}</h3>
                <p>{{ concert.venue }} // {{ concert.city }}, {{ concert.state }} // <a href="http://maps.google.com?q={{ concert.venue }}, {{ concert.city }}, {{ concert.state }}" alt="Map to {{ concert.venue }}">view map</a></p>
            </div>
        </div>
        {% if loop.index is divisibleby 4 %}
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <ul class="pagination">
                {% for concert in concerts %}
                    {% if loop.index == 1 or loop.index0 is divisibleby 4 %}
                        <li class="{% if loop.index == 1 %}active{% endif %}">
                            <a href="#">{{ (4 + loop.index) // 4 }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
