<div id="description">
    <h2>About All The Traditions</h2>
    <div class="about_copy">
        <p class="hide_small">Listen to All The Traditions <span class="showtime">Sundays at 7:00PM</span> or <a href="http://www.vpr.net/apps/audio-player/">online</a> at 8AM, 12PM, 4PM, 8PM and 12AM.</p>
    </div>
    <img class="img-responsive" src="{{ url_for('static', filename='img/robert_resnik_tophat_300x450.jpg') }}">
    <div class="about_copy">
        <p>All The Traditions is VPR's folk and world music show. Host, <a id="robert" href="http://digital.vpr.net/people/robert-resnik" alt="Robert Resnik bio">Robert Resnik</a> loves musical "show and tell," and particularly loves to showcase the many talented musicians who live in the VPR listening area.</p>
        <p>You can also count on All The Traditions for information about upcoming live performances in our area, and for the lowdown on what's new and interesting in the world of folk music. </p>
    </div>
</div>
