{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="mobile_title" class="hide_big">
                <h2 class="header">{{ page_title }}</h2>
                <p>Listen to All The Traditions <span class="showtime">Sundays at 7:00PM</span> or <a href="http://www.vpr.net/apps/audio-player/">online</a> at 8AM, 12PM, 4PM, 8PM and 12AM.</p>
            </div>

            {% include "_playlist.html" %}
            {% include "_calendar.html" %}
            <div class="hide_small">
                {% include "_story_card.html" %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="about_traditions hide_small">
                {% include "_traditions.html" %}
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div id="uw">
                        <h2>With Support From</h2>
                        {% include "_underwriter.html" %}
                    </div>
                </div>
                <div class="col-md-12 col-sm-6">
                    {% include "_contact.html" %}
                </div>
            </div>
            <div class="hide_big">
                {% include "_story_card.html" %}
            </div>
            <div id="mc">
                {% include "_marcomm.html" %}
            </div>
            <div class="about_traditions hide_big">
                {% include "_traditions.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script-ck.js') }}"></script>
{% endblock %}
